@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 261 41% 95%;
    --foreground: 260 10% 15%;
    --card: 261 41% 98%;
    --card-foreground: 260 10% 15%;
    --popover: 261 41% 98%;
    --popover-foreground: 260 10% 15%;
    --primary: 261 51% 54%;
    --primary-foreground: 261 41% 98%;
    --secondary: 261 41% 90%;
    --secondary-foreground: 261 51% 30%;
    --muted: 261 41% 92%;
    --muted-foreground: 260 10% 45%;
    --accent: 187 100% 42%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 261 30% 85%;
    --input: 261 30% 90%;
    --ring: 261 51% 54%;
    --radius: 0.5rem;
    --chart-1: 261 51% 54%;
    --chart-2: 187 100% 42%;
    --chart-3: 281 51% 64%;
    --chart-4: 221 51% 64%;
    --chart-5: 167 80% 52%;
  }

  .dark {
    --background: 260 15% 5%;
    --foreground: 261 41% 95%;
    --card: 260 15% 8%;
    --card-foreground: 261 41% 95%;
    --popover: 260 15% 5%;
    --popover-foreground: 261 41% 95%;
    --primary: 261 41% 95%;
    --primary-foreground: 261 51% 54%;
    --secondary: 260 15% 12%;
    --secondary-foreground: 261 41% 95%;
    --muted: 260 15% 12%;
    --muted-foreground: 260 10% 65%;
    --accent: 187 100% 42%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 260 15% 15%;
    --input: 260 15% 15%;
    --ring: 187 100% 42%;
    --chart-1: 261 41% 85%;
    --chart-2: 187 100% 52%;
    --chart-3: 281 41% 75%;
    --chart-4: 221 41% 75%;
    --chart-5: 167 70% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
